<footer>
    <section class="footer-section">
        <a href="https://web.whatsapp.com/" class="whatsapp" target="_blank"><i class="fa fa-whatsapp whatsapp-icon"></i></a>
            <ul>
                <h4 class="h4-footer">Categorias</h4>
                <a  href="">Vinos</a>
                <a  href="">Cervezas</a>
                <a  href="">Bebidas sin alcohol</a>
                <a  href="">Destilados</a>
                <a  href="">Combos</a>
            </ul>
            <ul>
                <h4 class="h4-footer">Contactános</h4>
                <p>261-5678906</p>
                <p>sweet-drinks@bebidas.com</p>
                <p>Ugarte 546, Ciudad</p>
            </ul>
            <ul>
                <h4 class="h4-footer">Sigamos conectados</h4>
                <i class="fab fa-facebook icono-footer"></i>
                <i class="fab fa-instagram icono-footer"></i>
            </ul>
    </section>            
</footer> 