<!DOCTYPE html>
<html lang="en">
<head>
    <title>Carrito</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/carrito1.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />   
    <script src="https://kit.fontawesome.com/1d73708eed.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body class="body">
        <!-- HEADER -->
        <header>
            <div class="top-bar">
                <h2>Descarga nuestra aplicacion | Hace tu compra tranquilo</p>
            </div>
            <div class="main-header-top">
                <a href="/">
                    <img class="logo-sweetdrinks" src="./img/logo-png.png" alt="logo sweet-drinks">
                </a>
                    <div class="barra-busqueda">
                        <input class="search-input"  id="input-header" type="search" placeholder="¿Qué estás buscando?">
                        <button class="search-button-header" type="submit"><i class="fa fa-search"></i></button>
                    </div>
                <div class="sign-bar">
                    <div class="right-navbar">  
                        <i class="far fa-comments icono"></i> 
                        <p>Ayuda</p> 
                    </div>
                    <div class="right-navbar"> 
                        <i class="far fa-user icono"></i>
                        <p>Mi Cuenta</p>    
                    </div>
                    <div class="right-navbar">  
                        <i class="fas fa-shopping-basket icono"></i>  
                        <p>Carrito</p> 
                    </div>
                </div>
            </div>

            <nav class="nav-bar">
                <ul class="nav-central">
                    <a  href="">Vinos</a>
                    <a  href="">Cervezas</a>
                    <a  href="">Bebidas sin alcohol</a>
                    <a  href="">Destilados</a>
                    <a  href="">Combos</a>
                </ul>
            </nav>

            <div class="burguer-padre">
                <div class="burguer-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <img class="imagen-banner" src="./img/sw-banner.jpeg" alt="banner">
        </header> 

        <!-- FIN DEL HEADER -->

        
    <!----- MAIN ----->
    <main class="main">
        <section class="articulos">
            <article class="articulo">
                <div class="mainArticulo">
                    <div class="fotoArticulo">
                        <img src="img/Cynar.jpg" alt="Imagen del producto" class="imgProducto">
                    </div>
                    <div class="datosArticulo">
                        <div class="nombreArticulo">
                            <p class="nombreArticulo">NOMBRE DEL ARTICULO</p>
                        </div>
                        <div class="descripcionArticulo">
                            <p class="descripcionArticulo">Esta es una pequeña descripcion</p>
                        </div>
                        <div class="qypArticulo">
                            <div class="cantidadArticulo">
                                <button class="fas fa-minus" type="submit"></button>
                                <p class="cantidadArticulo">2</p>
                                <button class="fas fa-plus" type="submit"></button>
                            </div>  
                            <div class="precioArticulo">
                                <p>$$$$$</p>
                            </div>                  
                        </div>                    
                    </div>
                </div>
                <div class="bottomArticulo">
                    <i class="fas fa-times-circle"></i>
                </div>
            </article>
            <article class="articulo">
                <div class="mainArticulo">
                    <div class="fotoArticulo">
                        <img src="img/Cynar.jpg" alt="Imagen del producto" class="imgProducto">
                    </div>
                    <div class="datosArticulo">
                        <div class="nombreArticulo">
                            <p class="nombreArticulo">NOMBRE DEL ARTICULO</p>
                        </div>
                        <div class="descripcionArticulo">
                            <p class="descripcionArticulo">Esta es una pequeña descripcion</p>
                        </div>
                        <div class="qypArticulo">
                            <div class="cantidadArticulo">
                                <button class="fas fa-minus" type="submit"></button>
                                <p class="cantidadArticulo">2</p>
                                <button class="fas fa-plus" type="submit"></button>
                            </div>  
                            <div class="precioArticulo">
                                <p>$$$$$</p>
                            </div>                  
                        </div>                    
                    </div>
                </div>
                <div class="bottomArticulo">
                    <i class="fas fa-times-circle"></i>
                </div>
            </article>
            <article class="articulo">
                <div class="mainArticulo">
                    <div class="fotoArticulo">
                        <img src="img/Cynar.jpg" alt="Imagen del producto" class="imgProducto">
                    </div>
                    <div class="datosArticulo">
                        <div class="nombreArticulo">
                            <p class="nombreArticulo">NOMBRE DEL ARTICULO</p>
                        </div>
                        <div class="descripcionArticulo">
                            <p class="descripcionArticulo">Esta es una pequeña descripcion</p>
                        </div>
                        <div class="qypArticulo">
                            <div class="cantidadArticulo">
                                <button class="fas fa-minus" type="submit"></button>
                                <p class="cantidadArticulo">2</p>
                                <button class="fas fa-plus" type="submit"></button>
                            </div>  
                            <div class="precioArticulo">
                                <p>$$$$$</p>
                            </div>                  
                        </div>                    
                    </div>
                </div>
                <div class="bottomArticulo">
                    <i class="fas fa-times-circle"></i>
                </div>
            </article>
            <article class="articulo">
                <div class="mainArticulo">
                    <div class="fotoArticulo">
                        <img src="img/Cynar.jpg" alt="Imagen del producto" class="imgProducto">
                    </div>
                    <div class="datosArticulo">
                        <div class="nombreArticulo">
                            <p class="nombreArticulo">NOMBRE DEL ARTICULO</p>
                        </div>
                        <div class="descripcionArticulo">
                            <p class="descripcionArticulo">Esta es una pequeña descripcion</p>
                        </div>
                        <div class="qypArticulo">
                            <div class="cantidadArticulo">
                                <button class="fas fa-minus" type="submit"></button>
                                <p class="cantidadArticulo">2</p>
                                <button class="fas fa-plus" type="submit"></button>
                            </div>  
                            <div class="precioArticulo">
                                <p>$$$$$</p>
                            </div>                  
                        </div>                    
                    </div>
                </div>
                <div class="bottomArticulo">
                    <i class="fas fa-times-circle"></i>
                </div>
            </article>
            <article class="articulo">
                <div class="mainArticulo">
                    <div class="fotoArticulo">
                        <img src="img/Cynar.jpg" alt="Imagen del producto" class="imgProducto">
                    </div>
                    <div class="datosArticulo">
                        <div class="nombreArticulo">
                            <p class="nombreArticulo">NOMBRE DEL ARTICULO</p>
                        </div>
                        <div class="descripcionArticulo">
                            <p class="descripcionArticulo">Esta es una pequeña descripcion</p>
                        </div>
                        <div class="qypArticulo">
                            <div class="cantidadArticulo">
                                <button class="fas fa-minus" type="submit"></button>
                                <p class="cantidadArticulo">2</p>
                                <button class="fas fa-plus" type="submit"></button>
                            </div>  
                            <div class="precioArticulo">
                                <p>$$$$$</p>
                            </div>                  
                        </div>                    
                    </div>
                </div>
                <div class="bottomArticulo">
                    <i class="fas fa-times-circle"></i>
                </div>
            </article>       
        </section>     
        <section class="comprar">
            <div class="direccion">
                <p class="direccion">Dirección de envío</p>
            </div>
            <div class="total">
                <p class="total">Total</p>
                <p class="total$">$$$$$</p>
            </div>
            <div class="comprar">
                <div class="botonComprar">
                    <a href="/carrito2" class="botonComprar">
                        <p class="botonComprar">COMPRAR</p>    
                    </a>
                </div>
            </div>
         </section>
    </main>
    <!----- FIN-MAIN ----->

    <!----- FOOTER ----->
    <footer>
        <section class="footer-section">
                <ul>
                    <h4 class="h4-footer">Categorias</h4>
                    <a  href="">Vinos</a>
                    <a  href="">Cervezas</a>
                    <a  href="">Bebidas sin alcohol</a>
                    <a  href="">Destilados</a>
                    <a  href="">Combos</a>
                </ul>
                <ul>
                    <h4 class="h4-footer">Contactános</h4>
                    <p>261-5678906</p>
                    <p>sweet-drinks@bebidas.com</p>
                    <p>Ugarte 546, Ciudad</p>
                </ul>
                <ul>
                    <h4 class="h4-footer">Sigamos conectados</h4>
                    <i class="fab fa-facebook icono-footer"></i>
                    <i class="fab fa-instagram icono-footer"></i>
                </ul>
        </section>            
    </footer> 
    <!----- FIN-FOOTER ----->
</html>