.body{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #ebebeb;
}

/* ---------HEADER--------- */
.header{
    height: 10vh;
}


/* ---------MAIN--------- */
.main{
    height: 80vh;
    background-color: #ebebeb;
}

/* ---------MAIN-ARTICULOS--------- */
section.articulos{
    box-sizing: border-box;
    padding-bottom: 130px;

}
article.articulo{
    position: relative;
    left:50%;
    transform: translateX(-52%);
    max-width: 340px;
    margin: 5px;
    padding: 2%;
    height: fit-content;
    background-color: #f0f2f0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px rgb(100 100 100);
    border-radius: 4px;
}
div.mainArticulo{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    margin: 10px 0px;
}
div.bottomArticulo{
    box-sizing: border-box;
    align-self: flex-start;
    margin-top: 2%;
}
div.datosArticulo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
img.imgProducto{
    max-height: 18vh;
    margin-right: 5px;
}
div.nombreArticulo{
    flex-grow: 1;
}
p.nombreArticulo{
    font-size: 1rem;
    font-weight: bold;
}
div.descripcionArticulo{
    flex-grow: 1;
}
p.descripcionArticulo{
    font-size: .7rem;
    text-align: left;
}
div.qypArticulo{
    display: flex;
    align-items: flex-end;
    flex-grow: 2;
}
div.cantidadArticulo{
    width: 50%;
    padding: 0px 5%;
    display: flex;
    justify-content: space-between;
}
p.cantidadArticulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p.cantidadArticulo{
    font-size: 16px;
    padding:5%;
    border: 1.5px solid #79787e;
    border-radius: 4px;
    text-align: center;
    background-color:#79787e;
    color:#ebebeb;
    box-sizing: border-box;
    width: 20px;
    height: 30px;
    box-shadow: 0px 0px 4px #79787e;
}
div.precioArticulo{
    width: 50%;
    text-align: end;
}
div.cantidadArticulo i.fas{
    align-self: center;
    padding: 5%;
    color:#1e202f;
}
i.fa-times-circle{
    position: absolute;
    left:5px;
    bottom:5px;
    color:rgba(223, 1, 1, 0.746);
}

/* ---------MAIN-COMPRAR--------- */

section.comprar{
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-height: 120px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px #79787e;
    background-color: #79787e;
    padding:5px 10px;

}
div.direccion{
    font-size: 10px;
    max-width: 650px;
    position: relative;
    left:50%;
    transform: translateX(-52%);
}
div.total{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    max-width: 650px;
    position: relative;
    left:50%;
    transform: translateX(-52%);
}
p.total{
    font-size: 1.2rem;
}

div.comprar{
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    max-width: 650px;
    position: relative;
    left:50%;
    transform: translateX(-52%);
}
div.botonComprar{
    background-color: #f0f2f0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    width: 50%;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #ebebeb;
    border: 1px solid rgba(30, 32, 47, .4);
}
a.botonComprar{
    text-decoration: none;
    color:  #1e202f;
}


/* ---------FOOTER--------- */
.footer{
    height: 10vh;
}

@media (min-width : 361px){


}

@media (min-width : 768px){
    section.comprar{
        max-height: 120px;
    }
}