/* <-----------------DETALLE DEL PRODUCTO Mobile-----------------> */

.mainProductDetail{
    background-color:  #f0f2f0;
    padding-bottom: 40px;
    color: #1e202f;
    position: relative;
}
.imgDtProd{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 4%;
    
}

.imgDtProd img{
    margin: 5%;
    width: 90%;
    align-self: center;
    border: solid 1px  #79787e;;
    
}
.imgDtProdMini{
    display: flex;
    width: 15%;
    margin-left: 10%;

}
.imgDtProdMini img{
    margin:5px;
    

}
.imgDtProdMini img:hover{
    transform: scale(5);
    position: absolute;
    width: 60px;
    top: 13%;
    left: 40%;
    z-index: 10;


}
.dtProdInfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dtProdInfo h1{
    text-align: center;
}
.dtProdInfo h3{
    font-size: 25px;
    text-align: center;
}
.dtProdInfo p{
    text-align: center;
    padding: 3%;
    line-height: 20px;
}
.dtProdInfo ul{
    list-style-type: disclosure-closed;
    line-height: 30px;
}

.dtProductosFormulario{
    display: flex;
    margin: 5%;
    width: 100%;
    justify-content: space-around;
    
}
.dtProductosFormulario div{
    margin: 10px;
    text-align: center;
    font-size: 18px;
}

.dtProductosFormulario form input{
    border: none;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    border: 1px solid #c9d4e8;
    transition: all 1s;
}

.dtProductosFormulario form input:hover{
    color: white;
    font-weight: bold;
    background-color: #EB9C4B ;
}
main section article h2{
    text-align: center;
    padding: 2%;
}

/* <----------Detalle de Producto, Productos Relacionados----------> */

.dtProdRel{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.dtProdRel img{
    width: 50%;
    margin-left: 25%;
    border: 1px  #79787e solid;
    transition: all 1s;
    
}
.dtProdRel img:hover{
     box-shadow: 0px 0px 10px #79787e ;
}
.pieRelArti{
    text-align: center;
    padding: 10px;
    max-height: 30px;
    
}
.pieRelArti h3{
    padding: 1%;
}

.prodRelArt2{
    display: none;
}

.prodRelArt3{
    display: none;
}
.prodRelArt4{
    display: none;
}
section article .dtProdRel{
    padding-bottom: 20%;
}

/* <-----------------DETALLE DEL PRODUCTO Tablet-----------------> */

@media (min-width:481px){

    /* Detalle de Producto */

    .imgDtProd {
        flex-direction: row;

    }
    .imgDtProd img { 
      margin:0%;
      width: 75%;
      align-self: flex-end;
        
    }
    .imgDtProdMini{
     flex-direction: column;
     width: 20%;
     margin-right: 1%;
     margin-left: 0%;
     order: -1;
    }
    
   
    .imgDtProdMini img:hover{
        transform: scale(6);
        left: 52%; 
        
    }

    /* Productos Relacionados */

    .dtProdRel{
        flex-direction: row;
        justify-content: center;
       
    }
    .prodRelArt1{
        margin-left: 0%;
        width: 40%;
    }
    .prodRelArt2{
        display: initial;
        width: 40%;
    }

}

/* <-----------------DETALLE DEL PRODUCTO Laptop-----------------> */

@media (min-width:769px){

    /* Detalle de Producto */

    .imgDtProdMini img:hover{
        transform: scale(6);
        left: 34%;
        top: 19%
        
    }

    .imgDtProd img{
        width: 35%;
    }
    .imgDtProdMini{
        width: 30%;
        margin-left: -17%;
    }
    article > div.dtProdInfo > div.tituloPrecioDtProd{
        width: 45%;
        position: absolute;
        top: 1%;
        left: 52%;
    }
    .dtProdInfo ul {
        position: absolute;
        top: 17%;
        left: 55%;  
    }
    .dtProductosFormulario{
        width: 20%;
        position: absolute;
        top: 21%;
        left: 55%;
    }
    .dtProdInfo h1{
        text-align: left;
    }
    .dtProdInfo h3{
        text-align: left;

    }
    .dtProdInfo p{
        order: 1;
        border-top: solid 2px #EB9C4B;
        margin-bottom: 5%;
        margin-top: 5%;
    }

    /* Productos Relacionados */

    .prodRelArt1{
        width: 23%;
    }
    .prodRelArt2{
        display: initial;
        width: 23%;
    }
    .prodRelArt3{
        display: initial;
        width: 23%;
    }
    .prodRelArt4{
        display: initial;
        width: 23%;
    }
    
}

/* <-----------------DETALLE DEL PRODUCTO Escritorio-----------------> */

@media (min-width:1280px){

    /* Detalle de Producto */
    article > div.dtProdInfo > div.tituloPrecioDtProd{
        top: 0%;
       
    }

    .imgDtProdMini img:hover{
        transform: scale(8);
        top: 17%;
        left: 30%; 
        
    }
    
    .dtProdInfo div h1{
        font-size: 62px;
    }
    .dtProdInfo div h3{
        font-size: 45px;
    }
     .dtProdInfo ul {
        top: 20%;
        left: 55%;
        font-size: 23px;  
    }
    
    .dtProductosFormulario{
        top: 27%;
        left: 60%;
        margin: 0%;
    }
   
    .dtProductosFormulario form input{
        font-size: 30px;
        padding: 4px;
        margin: 5px;
    }

    .dtProdInfo p{
        font-size: 25px;
        line-height: 30px;
    }
    main section article h2 {
        font-size: 45px;
    
    }
      
    /*Productos Relacionados  */

    .pieRelArti h3{
        font-size: 23px;
    }
    .pieRelArti p{
        font-size: 20px;
    }
    
    
}