.body{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

/* ---------HEADER--------- */
.header{
    height: 10vh;
}


/* ---------MAIN--------- */
.main{
    height: 80vh;
    background-color: #ebebeb;
}

form.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 130px;

}


/* ---------MAIN-REGISTRO--------- */

section.registro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 10px;
}
section.registro > *{
    padding: 5px 0px;

}
input[type=text] {
    font-style: italic;
    box-sizing: border-box;
    border: 1px solid #f0f2f0;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #79787e;
    padding: 5px;
    background-color: rgba(121, 120, 126,.8);
    color: #f0f2f0;
}
input[type=text]::placeholder{
    color: #f0f2f0;
    font-size: .8rem;
}

input[type=mail] {
    font-style: italic;
    box-sizing: border-box;
    border: 1px solid #f0f2f0;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #79787e;
    padding: 5px;
    background-color: rgba(121, 120, 126,.8);
    color: #f0f2f0;
}
input[type=mail]::placeholder{
    color: #f0f2f0;
    font-size: .8rem;
}

input[type=password] {
    font-style: italic;
    box-sizing: border-box;
    border: 1px solid #f0f2f0;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #79787e;
    padding: 5px;
    background-color: rgba(121, 120, 126,.8);
    color: #f0f2f0;
}
input[type=password]::placeholder{
    color: #f0f2f0;
    font-size: .8rem;
}


/* ---------MAIN-REGISTRARSE--------- */

/* section.comprar{
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-height: 120px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px #79787e;
    background-color: #79787e;
    padding:5px 10px;

} */

div.registrarse{
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    width:100%;
    max-width: 650px;
    /* position: relative;
    left:50%;
    transform: translateX(-52%);*/
} 
div.botonRegistrarse{
    background-color: #576959;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    width: 50%;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #EB9C4B;
    border: 1px solid #EB9C4B;
}
a.botonRegistrarse{
    text-decoration: none;
    color:  #EB9C4B;
}


/* ---------FOOTER--------- */
.footer{
    height: 10vh;
}