/* Para buscar una sección: Ctrl + H */
/* Formato para las clases: página.clase, por ejemplo [login.main] o [register.section] */

/* SELECTOR UNIVERSAL */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: whitesmoke;
    margin-top: -8px;
}
.errorsAlert p {
    color: red;
    font-size: 10px;
    font-weight: bold;
    
}
.errorsAlert{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5px;
    position:absolute;
    top: 30px;
    
    
}
.errorsAlert li{
    list-style-type: none;
    padding: 3px;
    font-weight: bold;
    background-color: whitesmoke;
    opacity: 80%;
    border-radius: 5px;
    margin: 5px;
}

.recordar{
    margin-top: 30px;
}
/* HEADER */
body > header > div.main-header-top > div.sign-bar > div:nth-child(1) > i{
    color: white;
    padding: 7px;
}
.margen-superior{
    display: flex;
    flex-flow: row;
    background-color:gold;
    width: 100vw;
}

.search-inicio {
    display: flex;
    background-color: mediumblue;
    width: 100vw;

}

.paginas {
    background-color: slategrey;
    width: 20px;
}

.logo-sd {
    width: 30px;
    height: 30px;
}

.burguer-padre{
    color: white;
    font-size: 20px;
}


.top-bar{
    padding: 2px;
    width: 100%;
    background-color: black;
    color: #EB9C4B;
    opacity: 65%; 
    height: 16px;
    font-size: 10px;
    text-align: center;
    border-bottom: solid 1px #576959;
    margin-top: 8px;
}


.top-bar h2 {
    color: white;
    font-size: 12px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 8px;
    padding: 1px;
}



header {
    display: block;
    width: 100%;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.search-input {
    width: 45vw;
    height: 4vh;
    border-radius: 5px;
    font-size: 12px;

}

a {
    text-decoration: none;
    color: white;
    font-family: 'Poppins', sans-serif;
}
.nav-central{
    display: flex;
    justify-content: center;
    margin: 3px 0px 0px 0px;
}
.nav-central a {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    display: none;
}

.main-header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0% 10% 0% 5%;
}

.logo-sweetdrinks {
    width: 120px;
    height: 60px;
    margin: 5px;
}

.sign-bar {
    display: none;
    margin: 7px;
}
.sign-bar div a{
    display: none;

}


.imagen-banner {
    width: 100vw;
    margin-top: -10px;
}

.barra-busqueda {
    display: none;
    margin: 5px;
    position: relative;
}

.search-button-header {
    position: absolute;
    bottom: 5px;
    right: 8px;
    background-color: transparent;
    border: none;
}

.search-button-header-mobile{
    color: white;
    background-color: transparent;
    border: none;
    font-size: 20px;

}

.icono {
    color: white;
    display: inline;
    margin: 7px 7px 7px 7px;
}

.right-navbar p {
    color: white;
    display: inline;
    margin: 1px 1px 1px 1px;
}

p {
    font-family: 'Poppins', sans-serif;
}

.nav-bar {
    display: none;
}

.usuario-logged {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

/* FIN HEADER */

/* FOOTER */

.whatsapp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:90px;
    right:30px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
    transition: all 1s;
}
.whatsapp i{
    margin-top: 15px;
}
.whatsapp:hover{
    transform: scale(1.2);
}

footer {
    background-color: rgb(39 39 39);
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}    

.footer-section {
    display: flex;
    flex-direction: column;
    padding: 24px;
}

.footer-section h4{
    color: #EB9C4B;
}

.footer-section ul {
    text-align: left;
    display: flex;
    flex-flow: column;
}

.footer-section ul a {
    text-align: left;
    color: white;
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

.footer-section ul p {
    margin: 5px;
    font-family: 'Poppins', sans-serif;
}

.h4-footer {
    margin: 5px;
}

.icono-footer {
    margin: 5px;
}
/* FIN FOOTER */

/* LOGIN */

.login-main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color:whitesmoke;
}

.login-form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.login-volver-inicio{
    position: absolute;
    top:5px;
    left:5px;
    color: #576959;
}

.fa-arrow-left {
    margin-right: 5px;
}

.login-campo{
    position: relative;
    width: 70% !important;
    border-radius: 5px;
}

.login-boton{
    height: 30px;
    width: 40%;
    transition: all 450ms;
    border-radius: 5px;
    background-color: #EB9C4B;
    color: white;
}

.olvido-contra a{
    color:#576959
}
.registrarse a{
    color:#576959
}

.login-boton:hover{
    box-shadow: 0px 0px 10px black;
}
/* FIN LOGIN */

/* HOME */
.main-space {
height: 2vh;
}

.ofertas-main {
    background-color: rgba(0, 0, 0, 0.1);
}

.ofertas-section{
    display: flex;
    justify-content: space-evenly;
}

.ofertas-section ul {
    margin: 5px;
    text-align: center;
}
.ofertas-section ul h4 {
    font-size: 15px;
}
.ofertas-section ul i {
    font-size: 20px;
}
.ofertas-section ul p{
    display: none;
}

.img-article {
    width: 220px;
    height: 250px;
}

.articulos {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap:wrap ;
}

.article-main {
    margin: 5px;
    box-sizing: border-box;
    padding: 5px;
    position: relative;   
    max-height: 65vh;
    background-color: white;

}

.home-main h3 {
    text-align: center;
    margin: 6px;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}
.pie-del-articulo{
    background-color: transparent;
   
   
}
.pie-del-articulo-nombre{
    font-weight: bold;
    text-align: center;
    color: #35453C;
    max-width: fit-content;
    font-size: 14px;

}

.pie-del-articulo-precio{
  
    color: #35453C;
    font-size: 3vh;
}
.pie-del-articulo strike{
    color:rgb(168, 166, 166)
}

/* ESTILOS PARA FORMULARIOS */

body main form section div .label-formulario{
    font-style: italic;
    color: #79787e;
}



.estilo-formulario {
    margin: 15px 10px;
    position: relative;
}

.estilo-formulario label {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: block;
    margin-left: 6px;
}

.estilo-input {
    width: 100%;
    padding: 8px 8px;
}
.botonGenero{   
    font-style: italic;
    box-sizing: border-box;
    border: 1 px solid #a1a1a1;
    border-radius: 4 px;
    padding: 5 px;
    color: #79787e;
    border-radius: 4px;
    border: 1px solid #a1a1a1;
    padding: 5px;
    font-size: 12px;
}
.botonGenero option{
    border: none
}

/* Formulario registro producto nuevo */

.form-ProductoNuevo {
    margin: 15px
}

.div-ProductoNuevo {
    margin: 5px;
}

.label-ProductoNuevo {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: block;
    margin-left: 6px;
}

.boton-formularios {
    background-color:#bb6a0e;
    border: none;
    font-size: 18px;
    color: white;
    padding: 5px;
    border-radius: 5px;
}
.prodDetBotonProductoNuevoFlex{
    display: flex;
    justify-content: center;
}
.prodDetBotonProductoNuevo{
    background-color:#bb6a0e;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 5% 0% 5% 0%;

}
/* FIN HOME */

/* DETALLE DE PRODUCTO */
.action-button {
    border: none;
    border-radius: 8px;
    font-size: 16px;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 15px 30px;
    margin-top: 15px;
  }
  
  .action-button.edit {
    background-color: chocolate;
  }
/* <-----------------DETALLE DEL PRODUCTO Mobile-----------------> */

.mainProductDetail{
    
    margin: 0% 15% 0% 15%;
    padding-bottom: 40px;
    color: #1e202f;
    position: relative;
   
}

.prodDetBotonEditar input{
    margin:8px;
    padding: 8px;
    border: 1px solid #c9d4e8;
    transition: all 1s;
}
.prodDetBotonEditar input:hover{
    color: white;
    font-weight: bold;
    background-color: #EB9C4B ;
}

.imgDtProd{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 4%;
    
}

.imgDtProd img{
    margin: 5%;
    width: 90%;
    align-self: center;
    border: solid 1px  #79787e;;
    
}
.imgDtProdMini{
    display: flex;
    width: 15%;
    margin-left: 10%;

}
.imgDtProdMini img{
    margin:5px;
    

}

.dtProdInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dtProdInfo h1{
    text-align: center;
}
.dtProdInfo h3{
    font-size: 25px;
    text-align: center;
}
.dtProdInfo p{
    text-align: center;
    padding: 3%;
    line-height: 20px;
}
.dtProdInfo ul{
    list-style-type: disclosure-closed;
    line-height: 30px;
    text-align: center;
}

.dtProductosFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dtProductosFormulario div{
    margin: 10px;
    text-align: center;
    font-size: 18px;
}

.dtProductosFormulario form input{
    border: none;
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 8px;
    border: 1px solid #c9d4e8;
    transition: all 1s;
}

.dtProductosFormulario form input:hover{
    color: white;
    font-weight: bold;
    background-color: #EB9C4B ;
}

div.dtProductosFormulario > div > div:nth-child(2) > a{
    font-size: 34px;
    color: chocolate;
    background-color: transparent;

}
main section article h2{
    text-align: center;
    padding: 2%;
}

.dtProdRel{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}
.dtProdRel img{
    width: 50%;
    margin-left: 25%;
    border: 1px  #79787e solid;
    transition: all 1s;
    
}
.dtProdRel img:hover{
     box-shadow: 0px 0px 10px #79787e ;
}
.pieRelArti{
    text-align: center;
    padding: 10px;
    max-height: 30px;
    
}
.prodDtBotonCarritoProdRel input{
    background-color: transparent;
    border: none;
    font-size: 15px;
    color: #EB9C4B;
    transition: all 1s;
}
.prodDtBotonCarritoProdRel input:hover{
    transform: scale(1.2);

}
.pieRelArti h3{
    padding: 1%;
}

.prodRelArt2{
    display: none;
}

.prodRelArt3{
    display: none;
}
.prodRelArt4{
    display: none;
}
section article .dtProdRel{
    padding-bottom: 20%;
}

/* FIN DEL DETALLE DE PRODUCTO */

/* REGISTRO */
.register-body{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.register-main{
    background-color: whitesmoke;
}

.register-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px 20px;

}

.register-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 10px;
}


*/
/* FIN REGISTRO */

/* CARRITO 1 */
.carrito-body{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: whitesmoke;
}

.carrito-main{
    display: flex;
    flex-direction: flex-start;
    font-family: 'Poppins', sans-serif;
}
.carrito-mainOk{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.sidebar-filtros{
    display:none
}

.main-productos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.main{
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.carrito-section {
    margin: 5px;
}

section.articulos{
    box-sizing: border-box;
    padding-bottom: 130px;

}
.carrito-articulo{
    position: relative;
    left:50%;
    transform: translateX(-52%);
    max-width: 700px;
    margin: 5px;
    padding: 2%;
    max-height: 160px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 4px;
}
div.mainArticulo{
    display: flex;
    box-sizing: border-box;
     margin: 10px 0px;
}
div.bottomArticulo{
    box-sizing: border-box;
    align-self: flex-start;
    margin-top: 2%;
}
div.datosArticulo{
    width: 80%;

}
body  main  section article  div .fotoArticulo{
    max-height: 90%;
    min-width: 15vh;
    max-width: 15vh;
}
img.imgProducto{
    max-height: 10vh;
    margin-right: 5px;
}
div.nombreArticulo{
    flex-grow: 1;
}
p.nombreArticulo{
    font-size: 1rem;
    font-weight: bold;
    color:#35453C
}
div.descripcionArticulo{
    flex-grow: 1;
}
.descuentoArticulo{
    font-size: 16px;
    text-align: left;
    color:rgb(32, 201, 32)

}
p.descripcionArticulo{
    font-size: .7rem;
    text-align: left;
    color:#35453C
}
div.qypArticulo{
    position: relative;
    position: absolute;
    display: flex;
    align-items: center;
    flex-grow: 2;
    right: 60px;
    bottom: 30px;
}
div.cantidadArticulo{
    position: absolute;
    right: 20vh;
    padding: 0px 5%;
    display: flex;
    justify-content: space-between;
}
/* p.cantidadArticulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#35453C
} */
p.cantidadArticulo{
    font-size: 16px;
    border: 1.5px solid #79787e;
    border-radius: 4px;
    text-align: center;
    background-color:transparent;   
    box-sizing: border-box;
    width: 60px;
    height: 23px;
    box-shadow: 0px 0px 4px #79787e;
    color:#adadad
}
div.precioArticulo {
    position: absolute;
    width: 50%;
    text-align: end;
    color: black;   
    right: 10%;
}
.precioArticuloDto{
     color:  rgb(168, 166, 166);
     text-decoration: line-through;
     font-size: 12px;
}
.precioConDto{
    color: black;
}
div.cantidadArticulo button.fas{
    align-self: center;
    padding: 5%;
    color:#1e202f;
    border:none;
    background-color: transparent;
}
i.fa-times-circle{
    position: absolute;
    left:5px;
    bottom:5px;
    color:rgba(223, 1, 1, 0.746);
}

section.comprar{
    bottom: 0px;
    width: 100%;
    max-height: 120px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px #576959;
    background-color: #eb9b4ba6;
    padding:5px 10px;

}
div.direccion{
    font-size: 10px;
    max-width: 650px;
    position: relative;
    left:50%;
    transform: translateX(-52%);
}
div.total{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    max-width: 650px;
    position: relative;
    left:50%;
    transform: translateX(-52%);
}
p.total{
    font-size: 1.2rem;
}

div.comprar{
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    max-width: 650px;
    position: relative;
    left:50%;
    transform: translateX(-52%);
}
div.botonComprar{
    background-color: #576959;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    width: 50%;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #EB9C4B;
    border: 1px solid #EB9C4B;
}
a.botonComprar{
    text-decoration: none;
    color:  #EB9C4B;
}

/* FIN CARRITO 1 */

/* CARRITO 2 */
.main{
    background-color: whitesmoke;
}

form.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* ---------MAIN-DIRECCION--------- */

section.direccionEnvio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 10px;
}
section.direccionEnvio > *{
    padding: 5px 0px;

}
 input[type=text], input[type=password], input[type=email], input[type=number]{
    font-style: italic;
    box-sizing: border-box;
    border: 1px solid #a1a1a1;
    border-radius: 4px;
    padding: 5px;
    color: #79787e;
}


input[type=text]::placeholder{
    color: #79787e;
    font-size: .8rem;
}
input[type=email]::placeholder{
    color: #79787e;
    font-size: .8rem;
}

input[type=password]::placeholder{
    color: #79787e;
    font-size: .8rem;
}

input[type=number]::placeholder{
    color: #79787e;
    font-size: .8rem;
}

/* ---------MAIN-ENVIO--------- */

div.elegirMetodoEnvio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 10px;
    max-width: 340px;
    position: relative;
    left:50%;
    transform: translateX(-52%);
}
label.elegirMetodoEnvio{
    text-align: center;
    margin: 10px 0px;
}


/* ---------MAIN-PAGO--------- */

div.elegirMetodoPago{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5px 10px;
    left:50px;
}
label.elegirMetodoPago{
    text-align: center;
    margin: 10px 0px;
}
div.selectorMetodoPago{
    display: flex;
    justify-content: space-around;
    max-width: 340px;
    position: relative;
    left:50%;
    transform: translateX(-52%);
}

div.datosMetodoPago{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 10px;
}
div.datosMetodoPago > *{
    padding: 5px 0px;

}
div.separadorDatosTarjeta{
    display: flex;
    justify-content: center;
}

div.separadorDatosTarjeta{
    text-align: center;
}
input[type=text].separadorDatosTarjeta {
    width: 80%;
}


/* ---------MAIN-COMPRAR--------- */

section.comprar {
    position: sticky;
    bottom: 0px;
    width: 100%;
    max-height: 120px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 4px #576959;
    background-color: #eb9b4ba6;
    padding: 5px 10px;
}
div.direccion{
    font-size: 10px;
}
div.total{
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
    max-width: 650px;
    position: relative;
    left:50%;
    transform: translateX(-52%);
}
p.total{
    font-size: 1.2rem;
}

div.comprar{
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    max-width: 650px;
    position: relative;
    left:50%;
    transform: translateX(-52%);
}
div.botonComprar{
    background-color: #576959;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 5px;
    width: 50%;
    border-radius: 4px;
    box-shadow: 0px 0px 4px #EB9C4B;
    border: 1px solid #EB9C4B;
}
a.botonComprar{
    text-decoration: none;
    color:  #EB9C4B;
}
/* FIN CARRITO 2 */
/* Inicio Perfil de usuario */

    .mainProfUser{
        display: flex;
        flex-direction: column;
        text-align: center;
       
    }
    .mainProfUser ul li{
        list-style-type: none;

    }
    body  main .imgProfUser  img{
        max-width: 20%;
        min-width: 20%;
        flex-grow: 1;
    }
   .profUserButton{
       padding-bottom: 16px;
   }
   .userBotonesElimEdit{
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: -115px;
    left: -20px;
   }

/* Final Perfil de usuarui */

/* TABLETS */
@media (min-width:481px){
    /* HEADER */
    .nav-bar {
        display: block;
        text-align: center;
        border-top: solid 1px #576959;
        margin: 10px;
    }
    .search-button-header-mobile{
        display: none;
    }
    .burguer-padre{
        display: none;
    }
    .barra-busqueda {
        display: initial;
    }
    .logo-sweetdrinks {
        display: initial;
}
    .sign-bar {
    display: initial;
    display: flex;
}
    .nav-central a {
    display: initial;
    margin: 0px 15px;
}
.search-input {
    height: 4vh;
    padding-left: 6px;
}

     /* FIN-HEADER */

     
    /* DETALLE DE PRODUCTO */

    .imgDtProd {
        flex-direction: row;

    }
    .imgDtProd img { 
      margin:0%;
      width: 75%;
      align-self: flex-end;
        
    }
    .imgDtProdMini{
     flex-direction: column;
     width: 20%;
     margin-right: 1%;
     margin-left: 0%;
     order: -1;
    }


    .dtProdRel{
        flex-direction: row;
        justify-content: center;
       
    }
    .prodRelArt1{
        margin-left: 0%;
        width: 40%;
    }
    .prodRelArt2{
        display: initial;
        width: 40%;
    }


}

/* LAPTOP */
@media (min-width:769px){
     /* HEADER */
     .logo-sweetdrinks {

        width: 120px;
        height: 60px;
        margin: 5px
    }
   
    .sign-bar div a{
        display: initial;
        font-size: 12px;   
        padding: 6px;      
    }
    
    .sign-bar div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .search-input {
       font-size: 14px;
    }
       
    /* FIN-HEADER */

    /* PRODUCTS */
    .sidebar-filtros{
        max-width: 30%;
        background-color: #576959;
        display:block
    }    
    /* FIN PRODUCTS */

    /* CARRITO */
    div.datosArticulo{

    position: relative;
    
    }
/* FIN CARRITO */

    
    /* HOME */
    .articulos {
        flex-direction: row;
        justify-content: space-around;
    }
    
    .ofertas-section ul p{
        display: initial;
    }
  
    /* FIN-HOME */

    /* LOGIN */
    .login-body{
        background-image: url("../../img/barra.jpg");
        background-position: center;
        height: 85vh;
    }

    .login-main{
        position: relative;
        width:45%;
        height:95%;
        margin-top:5%;
        margin-left:30%;
        border-radius: 10px;
        box-shadow: 10px 10px  black,
                    0 0 0 1px black;
    }

    /* FIN LOGIN */
    /* REGISTRO */

    .register-main{
        background-image: url(../../img/barra.jpg);
        background-position: center;
        
    }
    .register-form{
       
        position: relative;
        width: 50%;
        margin-bottom: 5%;
        margin-top: 5%;
        margin-left: 25%;
        border-radius: 10px;
        box-shadow: 10px 10px black, 0 0 0 1px black;
        background-color: whitesmoke;
    }
    /* FIN REGISTRO */

    /* DETALLE DE PRODUCTO */

    .imgDtProd img{
        width: 30%;
    }
    .imgDtProdMini{
        width: 20%;
        margin-left: -5%;
    }
    article > div.dtProdInfo > div.tituloPrecioDtProd{
        width: 45%;
        position: absolute;
        top: 1%;
        left: 52%;
        font-size: 15px;
    }
    .dtProdInfo ul {
        position: absolute;
        top: 17%;
        left: 63%;  
        font-size: 12px;
    }
    .productBotonesElimEdit{
        display: flex;
        position: absolute;
        align-items: center;
        bottom: -115px;
        left: -20px;
    }
    .dtProductosFormulario{
        width: 20%;
        position: absolute;
        top: 25%;
        left: 65%;
    }
   
   
    .dtProdInfo p{
        order: 1;
        border-top: solid 2px #EB9C4B;
        margin-bottom: 5%;
        margin-top: 30%;
    }

    .prodRelArt1{
        width: 23%;
    }
    .prodRelArt2{
        display: initial;
        width: 23%;
    }
    .prodRelArt3{
        display: initial;
        width: 23%;
    }
    .prodRelArt4{
        display: initial;
        width: 23%;
    }
    /* FOOTER */
    .footer-section {
        flex-direction: row;
        justify-content: space-around;
       
    }
    /* FIN-FOOTER */
}

/* ESCRITORIO */
@media (min-width:1280px){

    /* HEADER */
    
       .logo-sweetdrinks {

        width: 120px;
        height: 60px;
      
    }
    .sign-bar div{
        font-size: 20px;
    }
    .sign-bar div a{
        display: initial;
        font-size: 15px;   
        padding: 6px;      
    }
    /* FIN-HEADER */

    /* HOME */
    
    .img-article {
        width: 310px;
        height: 355px;
    }
    /* FIN-HOME */

    /* LOGIN */
    .login-main{
        width:25%;
        height:95%;
        margin-top:5%;
        margin-left:55%;
    }
    /* FIN LOGIN */
    /* REGISTRO */

    .register-form{
        width: 25%;
        margin-left: 37%;
    }
    /* REGISTRO */

    /* DETALLE DE PRODUCTO */
    

    
    .dtProdInfo div h1{
        font-size: 50px;
    }
    .dtProdInfo div h3{
        font-size: 45px;
    }
     .dtProdInfo ul {
        top: 15%;
        left: 55%;
        font-size: 23px;  
    }
    
    .dtProductosFormulario{
        top: 20%;
        left: 60%;
        margin: 0%;
    }
   
    .dtProductosFormulario form input{
        font-size: 30px;
        padding: 4px;
        margin: 5px;
    }
    
    .dtProdInfo p{
        font-size: 25px;
        line-height: 30px;
    }
    main section article h2 {
        font-size: 45px;
    
    }

    .pieRelArti h3{
        font-size: 23px;
    }
    .pieRelArti p{
        font-size: 20px;
    }
}


/* FORMULARIO EDICION */


.mainProduct-form{
    background-color: whitesmoke;   
    padding: 0 5%;
}

.wrapper-formulario{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.div-formulario{
    margin:15px;
}
div .formulario-titulo{
    color:rgba(87, 105, 89, .8);
    margin:4px;
    text-align: center;
    margin-bottom: 10px;
}

.label-formulario{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: block;
}
/* h2 .formulario-titulo{

} */
.form-div-checkbox{
    display: flex;
    margin:5px 20px;
}

.form-checkbox{
    margin:2px;
    font-size: .9 rem;

    
}
.formulario-cuerpo{
    background-color: #ffffff;
    border-radius: 8px;
    border: 1.5px solid #EB9C4B;
}
.div-form-botones{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}



select .estilo-select {
    font-style: italic;
    box-sizing: border-box;
    border: 1px solid #a1a1a1;
    border-radius: 4px;
    padding: 5px;
    color: black;
}
.form-textarea{
    width: 100%;
    font-style: italic;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    border: 1px solid #a1a1a1;
    border-radius: 4px;
    padding: 5px;
    color: #79787e;
}

input:focus {
    outline: none !important;
    border:1px solid #EB9C4B;
    box-shadow: 0 0 10px rgba(235, 156, 75,.5);
}

.form-textarea:focus {
    outline: none !important;
    border:1px solid #EB9C4B;
    box-shadow: 0 0 10px rgba(235, 156, 75,.5);
}