<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('./partials/head',{title:"Mi Carrito"}) %>
    
     <!-- FIN-HEAD -->

<body class="carrito-body">

        <!-- HEADER -->
        <%- include('./partials/header') %>
        <!-- FIN DEL HEADER -->

    <!-- MAIN -->
    <main class="carrito-main">
        <section class="carrito-section">
            <article class="carrito-articulo">
                <div class="mainArticulo">
                    <div class="fotoArticulo">
                        <img src="img/imgProduct/Cynar.jpg" alt="Imagen del producto" class="imgProducto">
                    </div>
                    <div class="datosArticulo">
                        <div class="nombreArticulo">
                            <p class="nombreArticulo">NOMBRE DEL ARTICULO</p>
                        </div>
                        
                        <div class="qypArticulo">
                            <div class="cantidadArticulo">
                                <button class="fas fa-minus" type="submit"></button>
                                <p class="cantidadArticulo">2</p>
                                <button class="fas fa-plus" type="submit"></button>
                            </div>  
                            <div class="precioArticulo">
                                <p>$$$$$</p>
                            </div>  
                                        
                        </div>  
                        <div class="descripcionArticulo">
                            <p class="descripcionArticulo">Esta es una pequeña descripcion</p>
                        </div>                      
                    </div>
                </div>
                <div class="bottomArticulo">
                    <i class="fas fa-times-circle"></i>
                </div>
            </article>
        </section>
        <section class="carrito-section">
            <article class="carrito-articulo">
                <div class="mainArticulo">
                    <div class="fotoArticulo">
                        <img src="img/imgProduct/JackDaniels 750.jpg" alt="Imagen del producto" class="imgProducto">
                    </div>
                    <div class="datosArticulo">
                        <div class="nombreArticulo">
                            <p class="nombreArticulo">NOMBRE DEL ARTICULO</p>
                        </div>
                        <div class="descripcionArticulo">
                            <p class="descripcionArticulo">Esta es una pequeña descripcion</p>
                        </div>
                        <div class="qypArticulo">
                            <div class="cantidadArticulo">
                                <button class="fas fa-minus" type="submit"></button>
                                <p class="cantidadArticulo">2</p>
                                <button class="fas fa-plus" type="submit"></button>
                            </div>  
                            <div class="precioArticulo">
                                <p>$$$$$</p>
                            </div>                  
                        </div>                    
                    </div>
                </div>
                <div class="bottomArticulo">
                    <i class="fas fa-times-circle"></i>
                </div>
            </article>
        </section>
        <section class="carrito-section">
            <article class="carrito-articulo">
                <div class="mainArticulo">
                    <div class="fotoArticulo">
                        <img src="img/imgProduct/Campari.jpg" alt="Imagen del producto" class="imgProducto">
                    </div>
                    <div class="datosArticulo">
                        <div class="nombreArticulo">
                            <p class="nombreArticulo">NOMBRE DEL ARTICULO</p>
                        </div>
                        <div class="descripcionArticulo">
                            <p class="descripcionArticulo">Esta es una pequeña descripcion</p>
                        </div>
                        <div class="qypArticulo">
                            <div class="cantidadArticulo">
                                <button class="fas fa-minus" type="submit"></button>
                                <p class="cantidadArticulo">2</p>
                                <button class="fas fa-plus" type="submit"></button>
                            </div>  
                            <div class="precioArticulo">
                                <p>$$$$$</p>
                            </div>                  
                        </div>                    
                    </div>
                </div>
                <div class="bottomArticulo">
                    <i class="fas fa-times-circle"></i>
                </div>
            </article>
        </section>
        <section class="carrito-section">
            <article class="carrito-articulo">
                <div class="mainArticulo">
                    <div class="fotoArticulo">
                        <img src="img/imgProduct/Gancia.jpg" alt="Imagen del producto" class="imgProducto">
                    </div>
                    <div class="datosArticulo">
                        <div class="nombreArticulo">
                            <p class="nombreArticulo">NOMBRE DEL ARTICULO</p>
                        </div>
                        <div class="descripcionArticulo">
                            <p class="descripcionArticulo">Esta es una pequeña descripcion</p>
                        </div>
                        <div class="qypArticulo">
                            <div class="cantidadArticulo">
                                <button class="fas fa-minus" type="submit"></button>
                                <p class="cantidadArticulo">2</p>
                                <button class="fas fa-plus" type="submit"></button>
                            </div>  
                            <div class="precioArticulo">
                                <p>$$$$$</p>
                            </div>                  
                        </div>                    
                    </div>
                </div>
                <div class="bottomArticulo">
                    <i class="fas fa-times-circle"></i>
                </div>
            </article>
        </section>
        <section class="carrito-section">
            <article class="carrito-articulo">
                <div class="mainArticulo">
                    <div class="fotoArticulo">
                        <img src="img/imgProduct/heinekenPack.jpg" alt="Imagen del producto" class="imgProducto">
                    </div>
                    <div class="datosArticulo">
                        <div class="nombreArticulo">
                            <p class="nombreArticulo">NOMBRE DEL ARTICULO</p>
                        </div>
                        <div class="descripcionArticulo">
                            <p class="descripcionArticulo">Esta es una pequeña descripcion</p>
                        </div>
                        <div class="qypArticulo">
                            <div class="cantidadArticulo">
                                <button class="fas fa-minus" type="submit"></button>
                                <p class="cantidadArticulo">2</p>
                                <button class="fas fa-plus" type="submit"></button>
                            </div>  
                            <div class="precioArticulo">
                                <p>$$$$$</p>
                            </div>                  
                        </div>                    
                    </div>
                </div>
                <div class="bottomArticulo">
                    <i class="fas fa-times-circle"></i>
                </div>
            </article>       
        </section>     
        <section class="comprar">
            <div class="direccion">
                <p class="direccion">Dirección de envío</p>
            </div>
            <div class="total">
                <p class="total">Total</p>
                <p class="total$">$$$$$</p>
            </div>
            <div class="comprar">
                <div class="botonComprar">
                    <a href="/confirmation" class="botonComprar">
                        <p class="botonComprar">COMPRAR</p>    
                    </a>
                </div>
            </div>
         </section>
    </main>
    <!-- FIN-MAIN -->


    <!----- FOOTER ----->
    <%- include('./partials/footer') %>
    <!----- FIN-FOOTER ----->

</body>

</html>