<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('./partials/head',{title:"Iniciar Sesión"}) %>
    <!-- FIN-HEAD -->
    
<body class="login-body">

    <!-- HEADER -->
    <%- include('./partials/header') %>
    <!-- FIN DEL HEADER -->

    <!-- Main -->
    <main class="login-main">
    <a href="/"><div class="login-volver-inicio">
    <span><i class="fas fa-arrow-left"></i>Volver a inicio</span>
    </div></a>
    <h1>Bienvenido</h1>
    <section>
        <form action="" class="login-form">
            <div class="campo usuario">
                <input class="login-campo" type="text" id="usuario" name="usuario" placeholder="Nombre de usuario">
            </div>
            <div class="campo contraseña">
                <input class="login-campo" type="password" id="contraseña" name="contraseña" placeholder="Contraseña">
            </div>
            <div class="checkbox">
                <label for="recordar"><input type="checkbox" id="recordar" value="recordar"> Recordarme</label>
            </div>
            <div>
                <button class="login-boton" type="submit">Ingresar</button>
            </div> 
            <div class="olvido-contra">
                <a href="">¿Olvidaste la contraseña?</a>
            </div> 
            <div class="registrarse">
                <a href="/registro">¿No tenés cuenta? Registrate</a>
            </div> 
        </form>    
    </section>
    </main>

    <!----- FOOTER ----->
    <%- include('./partials/footer') %>
    <!----- FIN-FOOTER ----->

</body>
</html>