<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('./partials/head',{title:"Iniciar Sesión"}) %>
    <!-- FIN-HEAD -->
    
<body class="login-body">

    <!-- Main -->
    <main class="login-main">
    <a href="/"><div class="login-volver-inicio">
    <span><i class="fas fa-arrow-left"></i>Volver a inicio</span>
    </div></a>
    <h1>Bienvenido</h1>

        <form action="" class="estilo-formulario" method="post">
            <div class="estilo-formulario">
                <input class="estilo-input" type="email" id="emailUser" name="email" placeholder="Email">
            </div> 

            <!-- Mensaje de error -->
            <div class="errorEmailUser">
                <p></p>
            </div>

            <div class="estilo-formulario">
                <input class="estilo-input" type="password" name="contrasenia" id="passwordUser" placeholder="Contraseña">
                <% if (typeof errors != 'undefined') { %>
                    <% for (let i = 0; i < errors.length; i++) { %>
                        <% if (errors[i].param == 'credenciales') { %>
                <div class="errorsAlert"> 
                    <p><%=errors[i].msg %></p>                        
                </div>
                        <% } %>
                    <% } %>
                <% } %>
            </div>

            <!-- Mensaje de error -->
            <div class="errorPasswordUser">
                <p></p>
            </div>
        </br>            

            <div class="recordar">
                <label for="recordar"><input type="checkbox" id="recordar" name="recordar" value="true"> Recordarme</label>
            </div>
        </br>
            <div>
                <button class="boton-formularios" type="submit">Ingresar</button>
            </div> 
        </br>
            <div class="olvido-contra">
                <a href="">¿Olvidaste la contraseña?</a>
            </div> 
            <div class="registrarse">
                <a href="/newUser">¿No tenés cuenta? Registrate</a>
            </div> 
        </form>    
    </main>
    <script src="/js/loginValidation.js"></script>
</body>
</html>