<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('./partials/head',{title:"Iniciar Sesión"}) %>
    <!-- FIN-HEAD -->
    
<body class="login-body">

    <!-- Main -->
    <main class="login-main">
    <a href="/"><div class="login-volver-inicio">
    <span><i class="fas fa-arrow-left"></i>Volver a inicio</span>
    </div></a>
    <h1>Bienvenido</h1>
        <form action="" class="formulario" method="post">
            <div class="estilo-formulario">
                <input class="estilo-input" type="text" name="usuario" placeholder="Nombre de usuario">
            </div> 
            <div class="estilo-formulario">
                <input class="estilo-input" type="password" name="contraseña" placeholder="Contraseña">
            </div>
        </br>
            <div>
                <label for="recordar"><input type="checkbox" id="recordar" value="recordar"> Recordarme</label>
            </div>
        </br>
            <div>
                <button class="boton-formularios" type="submit">Ingresar</button>
            </div> 
        </br>
            <div class="olvido-contra">
                <a href="">¿Olvidaste la contraseña?</a>
            </div> 
            <div class="registrarse">
                <a href="/registro">¿No tenés cuenta? Registrate</a>
            </div> 
        </form>    
    </main>

</body>
</html>