<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('./partials/head',{title:"Producto Nuevo"}) %>
    <!-- FIN-HEAD -->

<body class="body">

        <!-- HEADER -->
        <%- include('./partials/header') %>
        <!-- FIN DEL HEADER -->

    <!-- MAIN -->
    <main class="mainProduct-form">
        <div class="wrapper-formulario">
            <div class="formulario-titulo">
                <h2 class="formulario-titulo">Estás agregando un nuevo producto</i></h2>
            </div>
            <div class="formulario-cuerpo">
                <form action="/products/newProduct" method="POST" class="form-ProductoNuevo" enctype="multipart/form-data">
                    <div class="estilo-formulario">
                        <label for="nombre" class="label-formulario">Nombre del Producto:</label>
                        <input type="text" id="nombre" name="nombre" class="estilo-input">
                    </div>
                    <div class="estilo-formulario">
                        <label for="volumen" class="label-formulario">Volumen:</label>
                        <input type="text"  id="volumen" name="volumen" class="estilo-input">
                    </div>
                    <div class="estilo-formulario">
                        <label for="precio" class="label-formulario">Precio:</label>
                        <input type="text"  id="precio" name="precio" class="estilo-input">
                    </div>
                    <div class="estilo-formulario">
                        <label for="porcentajeAlcohol" class="label-formulario">Porcentaje de Alcohol:</label>
                        <input type="number" id="porcentajeAlcohol" name="porcentajeAlcohol" class="estilo-input">
                    </div>
                    <div class="estilo-formulario">
                        <label for="stock" class="label-formulario">Cantidad disponible: </label>
                        <input type="number" id="stock" name="stock" class="estilo-input">
                    </div> 
                    <div class="estilo-formulario">
                        <label for="descripcion" class="label-formulario">Descripción: </label>
                        <textarea name="descripcion" id="descripcion" name="descripcion" class="form-textarea"></textarea>
                    </div>
                    <div class="form-div-checkbox">
                        <input type="checkbox"  id="oferta" name="oferta" class="form-checkbox">
                        <label for="oferta" class="form-checkbox">En oferta</label>
                    </div>
                    <div class="estilo-formulario">
                        <label for="descuento" class="label-formulario">Descuento: </label>
                        <input type="number" id="descuento" name="descuento" class="estilo-input">
                    </div> 
                    <div class="estilo-formulario">
                        <label for="categoria" class="label-formulario">Categoría: </label>
                        <select id="categoria" name="categoria" class="estilo-select">
                            <option disabled selected value> -- Elija una categoría -- </option>
                            <option value="Aperitivos">Aperitivos</option>
                            <option value="Cervezas">Cervezas</option>
                            <option value="Vinos">Vinos</option>
                            <option value="Whiskies">Whiskies</option>
                        </select>                        
                    </div> 
                    <div class="estilo-formulario">
                        <input type="checkbox"  id="importado" name="importado" class="">
                        <label for="importado" class="form-checkbox">Importado</label>
                    </div>
                    <div class="estilo-formulario">
                        <input type="checkbox"  id="esPack" name="esPack" class="">
                        <label for="esPack" class="estilo-input">Es un pack?</label>
                    </div>
                    <div class="estilo-formulario">
                        <label for="imagenes" class="label-formulario">Imágenes: </label>
                        <input type="file" id="imagenes"  name="imagenes" class="estilo-input" multiple>
                    </div>
                    <div class="estilo-formulario">
                        <button type="submit" class="boton-formularios">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
        </main>
    <!-- FIN-MAIN -->
    <!----- FOOTER ----->
    <%- include('./partials/footer') %>
    <!----- FIN-FOOTER ----->

    </body> 
</html>