<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('./partials/head',{title:"Registro"}) %>
    <!-- FIN-HEAD -->
    
<body class="register-body">
        <!-- HEADER -->
        <%- include('./partials/header') %>
        <!-- FIN DEL HEADER -->

        
    <!----- MAIN ----->
    <main class="register-main">
        <form class="register-form" action="/" method="POST">
            <section class="register-section">
                <h3>Creá tu cuenta</h3>
                <div class="estilo-formulario"> 
                    <input type="text" name="usuario" placeholder="Nombre de usuario" class="estilo-input">
                </div>
                <div class="estilo-formulario">
                    <input type="email"name="email" placeholder="E-mail" class="estilo-input">
                </div>
                <div class="estilo-formulario">
                    <input type="password" name="password" placeholder="Contraseña" class="estilo-input">
                </div>
                <div class="estilo-formulario">
                    <input type="password" name="confPass" placeholder="Confirmar contraseña" class="estilo-input">
                </div>
                <div class="estilo-formulario">
                    <input type="text" name="telefono" placeholder="Teléfono" class="estilo-input">
                </div class="estilo-formulario"> 
                <button class="boton-formularios" type="submit">Registrarse</button>
            </section>
        </form>
    </main>
    <!----- FIN-MAIN ----->

    <!----- FOOTER ----->
    <%- include('./partials/footer') %>
    <!----- FIN-FOOTER ----->
</body>
</html>