<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('./partials/head',{title:"Iniciar Sesión"}) %>
    <!-- FIN-HEAD -->
    
<body>

     <!-- HEADER -->
     <%- include('./partials/header') %>
     <!-- FIN-HEADER -->

     <main>
         <img src="../img/404.png" width="100%" height="100%">
     </main>

     <!-- HEADER -->
     <%- include('./partials/footer') %>
     <!-- FIN-HEADER -->


</body>
</html>