<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('./partials/head',{title:"Producto Nuevo"}) %>
    <!-- FIN-HEAD -->

<body class="body">

        <!-- HEADER -->
        <%- include('./partials/header') %>
        <!-- FIN DEL HEADER -->

    <!-- MAIN -->
    <main class="mainProducto-nuevo">

        <form class="form-ProductoNuevo">
            <section>
                <div class="div-ProductoNuevo">
                    <label class="label-ProductoNuevo">Nombre del Producto:</label>
                    <input type="text" name="nombreProducto" class="div-ProductoNuevo" required="required" minlength="4">
                </div>
                <div class="div-ProductoNuevo">
                    <label class="label-ProductoNuevo">Precio:</label>
                    <input type="text" name="nombreProducto" class="div-ProductoNuevo" required="required" minlength="4">
                </div>
                <div class="div-ProductoNuevo">
                    <label class="label-ProductoNuevo">Cantidad disponible: </label>
                    <input type="text" name="cantidad" class="div-ProductoNuevo" required="required">
                </div>
                <div class="div-ProductoNuevo">
                    <label class="label-ProductoNuevo">Descripcion: </label>
                    <input type="text" name="descripcion" class="div-ProductoNuevo" required="required" minlength="4">
                </div>
                <div class="div-ProductoNuevo">
                    <label class="label-ProductoNuevo">Imagen: </label>
                    <input type="file" name="imagen" class="div-ProductoNuevo" required="required">
                </div>
                <div class="div-ProductoNuevo">
                    <button type="submit" name="enviar" value="enviar" class="boton-ProductoNuevo">Enviar</button>
                    <button type="reset" name="borrar" value="borrar" class="boton-ProductoNuevo">Borrar</button>               
                </div>
            </section>

        </form>

    </main>
    <!-- FIN-MAIN -->


    <!----- FOOTER ----->
    <%- include('./partials/footer') %>
    <!----- FIN-FOOTER ----->

</body>

</html>