<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('./partials/head',{title:"Producto Nuevo"}) %>
    <!-- FIN-HEAD -->

<body class="body">

        <!-- HEADER -->
        <%- include('./partials/header') %>
        <!-- FIN DEL HEADER -->

    <!-- MAIN -->
    <main class="mainProducto-nuevo">
        <form class="form-ProductoNuevo" method="post" action="/productoNuevo">
            <section>
                <div class="div-ProductoNuevo">
                    <label class="label-ProductoNuevo">Nombre del Producto:</label>
                    <input type="text" name="nombre" class="div-ProductoNuevo" required="required" minlength="4">
                </div>
                <div class="div-ProductoNuevo">
                    <label class="label-ProductoNuevo">Precio:</label>
                    <input type="text" name="precio" class="div-ProductoNuevo" required="required" minlength="4">
                </div>
                <div class="div-ProductoNuevo">
                    <label class="label-ProductoNuevo">Porcentaje de Alcohol: </label>
                    <input type="number" name="alcohol" class="div-ProductoNuevo" required="required">
                </div> 
                <div class="div-ProductoNuevo">
                    <label class="label-ProductoNuevo">Volumen del envase: </label>
                    <input type="number" name="volumen" class="div-ProductoNuevo" required="required">
                </div> 
                <div class="div-ProductoNuevo">
                    <label class="label-ProductoNuevo">Descripcion: </label>
                    <input type="text" name="descripcion" class="div-ProductoNuevo" required="required" minlength="4">
                </div>
                <div class="div-ProductoNuevo">
                    <label class="label-ProductoNuevo">Imagen: </label>
                    <input type="file" name="imagen" class="div-ProductoNuevo" required="required">
                </div>
                <div class="div-ProductoNuevo">
                    <label class="label-ProductoNuevo">Stock: </label>
                    <input type="number" name="stock" class="div-ProductoNuevo" required="required">
                </div> 
                <div class="div-ProductoNuevo">
                    <label class="label-ProductoNuevo">Descuento: </label>
                    <input type="number" name="descuento" class="div-ProductoNuevo" required="required">
                </div> 
                <div class="div-ProductoNuevo">
                    <label for="categoria">Oferta</label>
                    <input type="radio" id="categoria" name="categoria" value="oferta">            
                    <label for="categoria2">Importado</label>
                    <input type="radio" id="categoria2" name="categoria" value="importado">
                    <label for="categoria3">Pack</label>         
                    <input type="radio" id="categoria3" name="categoria" value="esPack">
                </div> 
                <br>
                <div class="div-ProductoNuevo">
                    <button type="submit" value="enviar" class="boton-formularios">Enviar</button>
                    <button type="reset" value="borrar" class="boton-formularios">Borrar</button>               
                </div>
            </section>

        </form>
    </main>
    <!-- FIN-MAIN -->
    <!----- FOOTER ----->
    <%- include('./partials/footer') %>
    <!----- FIN-FOOTER ----->

    </body> 
</html>