<!DOCTYPE html>
<html lang="en">

    <!-- HEAD -->
    <%- include('./partials/head',{title:"Registro"}) %>
    <!-- FIN-HEAD -->
    
<body class="register-body">
        <!-- HEADER -->
        <%- include('./partials/header') %>
        <!-- FIN DEL HEADER -->

        
    <!----- MAIN ----->
    <main class="register-main">
        <form class="register-form" action="/" method="POST">
            <section class="register-section">
                <p>REGISTRATE</p>
                <div>
                    <input type="text" id="usuario" name="usuario" placeholder="Nombre de usuario">
                </div>
                <div>
                    <input type="mail" id="mail" name="mail" placeholder="E-mail">
                </div>
                <div>
                    <input type="password" id="password" name="password" placeholder="Contraseña">
                </div>
                <div>
                    <input type="password" id="confPass" name="confPass" placeholder="Confirmar contraseña">
                </div>
                <div>
                    <input type="text" id="telefono" name="telefono" placeholder="Teléfono">
                </div> 
                <button class="register-button" type="submit">REGISTRATE</button>
            </section>
        </form>
    </main>
    <!----- FIN-MAIN ----->

    <!----- FOOTER ----->
    <%- include('./partials/footer') %>
    <!----- FIN-FOOTER ----->
</body>
</html>