<header>
    <div class="top-bar">
        <p>Descarga nuestra aplicacion | Hace tu compra tranquilo</p>
    </div>
    <div class="main-header-top">
        <a href="/">
            <img class="logo-sweetdrinks" src="./img/logo.png" alt="logo sweet-drinks">
        </a>
            <div class="barra-busqueda">
                <input class="search-input"  id="input-header" type="search" placeholder="¿Qué estás buscando?">
                <button class="search-button-header" type="submit"><i class="fa fa-search"></i></button>
            </div>
        <div class="sign-bar">
            <div class="right-navbar">  
                <i class="far fa-comments icono"></i> 
                <a href="/registro">Registrarse</a> 
            </div>
            <div class="right-navbar"> 
                <i class="far fa-user icono"></i>
                <a href="">Mi Cuenta</a>    
            </div>
            <div class="right-navbar">  
                <i class="fas fa-shopping-basket icono"></i>  
                <a href="/carrito1">Carrito</a> 
            </div>
        </div>
    </div>

    <nav class="nav-bar">
        <ul class="nav-central">
            <a  href="">Vinos</a>
            <a  href="">Cervezas</a>
            <a  href="">Bebidas sin alcohol</a>
            <a  href="">Destilados</a>
            <a  href="">Combos</a>
        </ul>
    </nav>

    <div class="burguer-padre">
        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header> 
