<header>
     <div class="top-bar">
        <p>Descarga nuestra aplicacion | Hace tu compra tranquilo</p>
    </div>

    <div class="main-header-top">
        <div class="burguer-padre">
            <div class="burguer-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <a href="/">
            <img class="logo-sweetdrinks" src="../../img/logo.png" alt="logo sweet-drinks">
        </a>
        <div>
            <button class="search-button-header-mobile" type="submit"><i class="fa fa-search"></i></button>
        </div>
            <div class="barra-busqueda">
                <input class="search-input"  id="input-header" type="search" placeholder="¿Qué estás buscando?">
                <button class="search-button-header" type="submit"><i class="fa fa-search"></i></button>
            </div>
        <div class="sign-bar">
            <div class="right-navbar">  
                <i class="far fa-comments icono"></i> 
                <a href="/newUser">Registrarse</a> 
            </div>
            <div class="right-navbar"> 
                <i class="far fa-user icono"></i>
                <a href="/login">Mi Cuenta</a>    
            </div>
            <div class="right-navbar">  
                <i class="fas fa-shopping-basket icono"></i>  
                <a href="/cart">Carrito</a> 
            </div>
        </div>
        <% if (user != undefined) { %>
            <form class="usuario-logged" action="" method="get">
                <p>Bienvenido/a, <%= user.nombre + ' ' + user.apellido  %> </p>
                <a href="/endSession" onclick="alert('Su sesión a terminado')" class="usuario-logged">Desloguear?</a>
            </form>
        <% } %>
    </div>

    <nav class="nav-bar">
        <ul class="nav-central">
            <a  href="">Vinos</a>
            <a  href="">Cervezas</a>
            <a  href="">Sin alcohol</a>
            <a  href="">Destilados</a>
            <a  href="">Combos</a>
        </ul>
    </nav>


</header> 
