<header>
     <div class="top-bar">
        <p>Descarga nuestra aplicacion | Hace tu compra tranquilo</p>
    </div>

    <div class="main-header-top">
        <div class="burguer-padre">
            <div class="burguer-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <a href="/">
            <img class="logo-sweetdrinks" src="../../img/logo.png" alt="logo sweet-drinks">
        </a>
        <div>
            <button class="search-button-header-mobile" type="submit"><i class="fa fa-search"></i></button>
        </div>
            <div class="barra-busqueda">
                <input class="search-input"  id="input-header" type="search" placeholder="¿Qué estás buscando?">
                <button class="search-button-header" type="submit"><i class="fa fa-search"></i></button>
            </div>
        <div class="sign-bar">
            <div class="right-navbar">  
                <i class="fas fa-shopping-cart"></i>  
                <a href="/cart">Carrito</a> 
            </div>

            <div class="right-navbar"> 
                <i class="far fa-user icono"></i>
                <% if (user == undefined) { %>
                    <a href="/login">Mi Cuenta</a>    
                <%}else{ %>
                    <a href="/user/<%=user.id%>">Mi Cuenta</a>   
                <% } %>
            </div>
           
        </div>
        <% if (user != undefined) { %>
            <form class="usuario-logged" action="" method="get">
                <p>Bienvenido/a, <%= user.nombre + ' ' + user.apellido  %> </p>
                <a href="/endSession" onclick="alert('Su sesión a terminado')" class="usuario-logged">Cerrar Sesión</a>
            </form>
        <% } %>
    </div>

    <nav class="nav-bar">
        <ul class="nav-central">

            <% if (locals.categoriasMenu == undefined){ %>
                <a  href="/products/1">Aperitivo</a>
                <a  href="/products/2">Whiskies</a>
                <a  href="/products/3">Cervezas</a>
                <a  href="/products/4">Vinos</a>
                <a  href="/products/5">Champagne y espumantes</a>
                <a  href="/products/6">Bebidas Blancas</a>
                <a  href="/products/7">Licores</a>   
            <%}else{ %>
                <a href="/"> CATEGORIAS MENU</a>
            <% } %>
        </ul>
    </nav>


</header> 
